.filter_list{
    -ms-flex: 0 0 20%;
    flex: 0 0 20px;
    background-color: #d5ff9a;
}
.cyber td{
    background-color: #ffb778 !important;
    opacity: 0.9;
    font-size:0.9em;
    line-height:0.9;
}
.cyberBlack td{
    background-color: #ffc1c1 !important;
    opacity: 0.9;
    font-size:0.9em;
    line-height:0.9;
}
.cyberPrem td{
    background-color: #c1ff89 !important;
    opacity: 0.9;
    font-size:0.9em;
    line-height:0.9;
}
.cyberStand td{
    background-color: #fff176 !important;
    opacity: 0.9;
    font-size:0.9em;
    line-height:0.9;
}
.nocyber td{
    font-size:0.9em;
    line-height:0.9;
}
.btn-mini {
    margin-top: 11px;
    padding: 2px 6px;
    font-size: 11px;
    line-height: 13px;
}